.btnParent{
	margin-top: 10px;
	position: relative;
	float: right;
	overflow-x: hidden;
	background-color: none;
}
.btnParent > button{
	position: relative;
	right: -85px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.bi-chevron-double-down, .bi-chevron-double-up{
	margin-top: 10px;
}

.container{
	margin-bottom: 10px;
	background-color: #003764;
	border-radius: 10px;
	height: 40px;
	overflow: hidden;
}
.d-flex > button {
	margin: 5px;
}
h6{
	text-align: center;
	margin-top: 12px;
}