<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div *ngIf="isAdmin" class="navbar-nav d-flex" >
					<a class="nav-link {{route === '/admin/users'?  'active' : ''}}" aria-current="page" [routerLink]="['/admin/users']">Users</a>
					<a class="nav-link {{route === '/admin/reports' ?  'active' : ''}}" [routerLink]="['/admin/reports']">Reports</a>
					<a class="nav-link {{route === '/admin/fields' ?  'active' : ''}}" [routerLink]="['/admin/fields']">Fields</a>
					<a class="nav-link {{route === '/admin/admins' ?  'active' : ''}}" [routerLink]="['/admin/admins']">Admins</a>
			

			</div>
			<div *ngIf="!isAdmin" class="navbar-nav d-flex">
				<a class="nav-link {{route === '/' ?  'active' : ''}}" aria-current="page" [routerLink]="['/']">Home</a>
				<a *ngIf="!isGuest" class="nav-link {{route === '/my-fields' ?  'active' : ''}}" [routerLink]="['/my-fields']">My fields</a>
		</div>
		</div>
		<label class="mt-3 me-2"><p class="text-center text-primary"><strong>{{name}}</strong></p></label>
		<button type="button" class="btn btn-primary btn-sm" (click)="logout()">Log out</button>
	</div>
</nav>
