<div *ngIf="description!==''">
	<div class="bg-popUp"></div>
	<div class="popUp">
		<div class="d-flex justify-content-center">
			<div class="row">
				<div class="col-md-12">
					<p [innerHTML]="description"></p>
					<a *ngIf="buttonLink!=='#'" href="{{ buttonLink }}">
						<button class="btn btn-primary" (click)="close()">{{buttonText}}</button>
					</a>
					<button *ngIf="buttonLink==='#'" class="btn btn-primary" (click)="close()"> {{buttonText}} </button>
				</div>
			  </div>
		</div>
	</div>
</div>
