<div *ngIf="friendId" class="position-absolute bottom-0 end chat-window">
		<div class="chat-header d-flex">
			<h2 class="text-center me-auto">{{friendName}}</h2>
			<button type="button" class="btn-close btn-close-white" (click)="closeChat()"></button>

		</div>
		<div #chatContainer class="chat-messages">
			<div *ngFor="let message of messages" class="chat-message {{message.from===user?.id ? 'from-me' : 'from-other'}}">
					<p>{{message.message}}</p>
			</div>
		</div>
		<form class="d-flex">
			<input #sendInput type="text" class="form-control me-2" placeholder="Type your message here...">
			<button type="submit" class="btn btn-primary" (click)="sendMessage(sendInput.value)">Send</button>
		</form>
</div>