<div class="d-flex justify-content-center container-center">
	<form [formGroup]="registerForm" (ngSubmit)="submit()" class="" novalidate>
		<div class="mb-1">
			<label class="from-label" for="name">Name</label>
			<input type="text" class="form-control {{ getNameState() }}" id="name" placeholder="Name" formControlName="name">
			<div *ngIf="name?.touched" class="invalid-feedback">
				{{ getNameError() }}
			</div>
		</div>
		<div class="mb-1">
			<label class="from-label" for="email">Email</label>
			<input type="email" class="form-control {{getEmailState()}}" id="email" placeholder="Email" formControlName="email">
			<div *ngIf="email?.touched" class="invalid-feedback">
				{{ getEmailError() }}
			</div>
		</div>
		<div class="mb-1">
			<label class="from-label" for="password">Password</label>
			<input type="password" class="form-control {{getPasswordState()}}" id="password" placeholder="Password" formControlName="password">
			<div *ngIf="password?.touched" class="invalid-feedback">
				{{ getPasswordError() }}
			</div>
		</div>
		<div class="mb-1">
			<label class="from-label" for="passwordAgain">Password confirmation</label>
			<input type="password" class="form-control {{getPasswordAgainState()}}" id="passwordAgain" placeholder="Confirm password" formControlName="passwordAgain">
			<div *ngIf="passwordAgain?.touched" class="invalid-feedback">
				{{ getPasswordAgainError() }}
			</div>
		</div>
		<div class="mb-1 form-check">
			<input id="remember" name="remember" type="checkbox"  class="form-check-input" formControlName="rememberMe">
			<label class="from-label" for="remember" class="form-check-label">Remember me</label>
		</div>
		<div class="d-flex mb-1">
			<a class="me-auto" routerLink="/login"><button class="btn btn-primary">Login</button></a>
			<button type="submit" class="d-flex gap-2 btn btn-primary" [disabled]="registerForm.invalid" >
				<span *ngIf="!pendingRequest">Register</span>
				<div class="clearfix" *ngIf="pendingRequest">
					<div class="spinner-border spinner-border-sm align-self-center" role="status">
					</div>
				  </div>
			</button>
		</div>
	</form>
</div>
