<app-confirm-with-input #confirmWithInput (confirmEvent)="handleConfirmEvent($event)"></app-confirm-with-input>
<app-confirm #confirm (confirmEvent)="handleConfirmEvent($event)"></app-confirm>

<div class="container p-4 overflow-x-scroll">
	<table>
		<thead>
			<tr>
				<th>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
							(click)="selectAll($event)">
						<label class="form-check-label" for="flexCheckDefault">
							All
						</label>
					</div>
				</th>
				<th *ngFor="let header of headers">{{header.label}}</th>
				<th>
					Actions
					<div class="d-flex justify-content-center">
						<div *ngFor="let action of  pluralActions" [innerHtml]="action.HTML" placement="top" ngbTooltip="{{action.tooltip}}"
							(click)="actionClicked(action)">
						</div>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr
				*ngFor="let singularData of data  | slice: (page-1) * pageSize : page * pageSize; let i=index">
				<td class="selects">
					<div class="form-check">
						<input #dataCheckBox class="form-check-input" type="checkbox" id="dataId_{{singularData.id}}">
					</div>
				</td>
				<td *ngFor="let header of headers" [innerHTML]="getDataField(singularData, header)"></td>
				<td>
					<div class="d-flex gap-1 justify-content-center">
						<div *ngFor="let action of  singularActions" class="mt-2 {{!action.visibleWhen || action.visibleWhen(singularData, user)?'':'d-none'}}" [innerHtml]="action.HTML" placement="top" ngbTooltip="{{action.tooltip}}"
							(click)="actionClicked(action, singularData.id)"></div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div *ngIf="collectionSize===0" class="alert alert-info text-center" role="alert">
		No data found
	</div>

</div>
<div class="mt-2">
    <app-pagination class="mt-2" *ngIf="collectionSize!==0" (pageChanged)="page = $event" [collectionSize]="collectionSize" [pageSize]="pageSize"></app-pagination>
</div>
