// Custom.scss
// Option A: Include all of Bootstrap

$body-bg: #011627;
$body-color: #D6DEEB;
$primary: #82AAFF;

// input
$input-bg: #00569b;
$input-border-color:#1D3B53;
$input-disabled-bg: #011627;
$input-disabled-border-color: #011627;
$input-disabled-color: #00447e;
$form-check-input-checked-color:          $body-color;
$form-check-input-checked-bg-color:       $primary;
$input-placeholder-color: #9a9a9a;
// $input-group-addon-bg:   #7FDBCA;
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px $input-bg inset !important;
	-webkit-text-fill-color: $body-color !important;
}
$offcanvas-bg-color: #00294b;
$offcanvas-horizontal-width: 300px;
$offcanvas-backdrop-bg: #ffffff00;

$pagination-color:                  $body-color;
$pagination-bg:                     #003764;
$pagination-border-color:           #000000;

$pagination-focus-color:            $body-color;
$pagination-focus-bg:               #80A4C2;
$pagination-focus-box-shadow:       0;
$pagination-focus-outline:          0;

$pagination-hover-color:            $body-color;
$pagination-hover-bg:               #80A4C2;
$pagination-hover-border-color:     black;

$pagination-active-color:           $body-color;
$pagination-active-bg:              #7e57c2;
$pagination-active-border-color:    black;

$pagination-disabled-color:			$body-color;
$pagination-disabled-bg:			#7e57c228;
$pagination-disabled-border-color:  #000000;

$form-check-input-bg: white;
$form-check-input-checked-bg-color: #0051ff;

$modal-content-bg:                  #00294b;
$modal-content-border-width:        0px;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.invalid-feedback{
	display: block;
}
.valid-feedback{
	display: block;
}
.container-center {
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-width: 50%;
}
.container-center form {
	min-width: 30%;
}
// Then add additional custom code here
::-webkit-scrollbar {
	width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
	background: none;
	padding: 2px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: $primary;
	border-radius: 10px;
	margin-right: 2px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: $primary;
  }
