<div class="d-flex justify-content-center container-center">
	<form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
		<div class="form-group mb-1">
			<label class="from-label" for="email">Email</label>
			<input type="email" class="form-control {{getEmailState()}}" id="email" placeholder="Email" formControlName="email">
			<div *ngIf="email?.touched" class="invalid-feedback">
				{{ getEmailError() }}
			</div>
			<div *ngIf="getForgotPasswordError() !== ''" class="invalid-feedback">
				{{ getForgotPasswordError() }}
			</div>
		</div>
		<div class="d-flex mb-1 justify-content-end">
			<button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Send email</button>
		</div>
	</form>
</div>
