<div class="d-flex justify-content-center mt-5">
    <div class="container overflow-x-scroll p-4">
        <div class="d-flex gap-2 ">
            <app-scale-able-field [scale]="0.7"></app-scale-able-field>
            <div class="d-flex flex-column chat p-4">
                <app-group-chat
                    *ngIf="chatRoomUUID !== ''"
                    [roomUUID]="chatRoomUUID"
                    [chatMessagesMaxHeight]="700 * 0.7 - 30"
                    class="mt-auto"></app-group-chat>
            </div>
        </div>
    </div>
</div>

<app-info #infoComponent></app-info>
