<div class="d-flex justify-content-center container-center">
	<form action="">
		<div class="form-group mb-1">
			<label class="from-label" for="email">Email</label>
			<input type="email" class="form-control" id="email" placeholder="Email">
		</div>
		<div class="form-group mb-1">
			<label class="from-label" for="email">Name</label>
			<input type="text" class="form-control" id="email" placeholder="Name">
		</div>
		<div class="form-group mb-1">
			<label class="from-label" for="password">Password</label>
			<input type="password" class="form-control" id="password" placeholder="Password">
		</div>
		<div class="form-group mb-1">
			<label class="from-label" for="confirm-password">Confirm password</label>
			<input type="password" class="form-control" id="confirm-password" placeholder="Confirm password">
		</div>
		<div class="form-group mb-1 form-check">
			<input id="remember" name="remember" type="checkbox"  class="form-check-input">
			<label class="from-label" for="remember" class="form-check-label">Remember me</label>
		</div>
		<div class="d-flex mb-1">
			<a class="me-auto" routerLink="/login"><button class="btn btn-primary">Login</button></a>
			<button type="submit" class="btn btn-primary">Register</button>
		</div>
	</form>
</div>
