<div class="d-flex justify-content-center container-center">
	<form [formGroup]="guestForm" (ngSubmit)="submit()">
		<div class="form-group mb-1">
			<label class="from-label" for="name">Name</label>
			<input type="text" class="form-control {{getNameState()}}" id="name" placeholder="Name" formControlName="name">
			<div *ngIf="name?.touched" class="invalid-feedback">
				{{ getNameError() }}
			</div>
		</div>
		<div class="d-flex mb-1 justify-content-end">
			<button type="submit" class="d-flex gap-2 btn btn-primary" >
				<span *ngIf="!pendingRequest">Login as guest</span>
				<div class="clearfix" *ngIf="pendingRequest">
					<div class="spinner-border spinner-border-sm align-self-center" role="status">
					</div>
				  </div>
			</button>
		</div>
	</form>
</div>
