
.game-container{
    overflow-x: scroll;
}
.container{
	max-width: fit-content;
}
.field{
	background-color:#00294b;
	width: 1020px;
	height: 720px;
	padding: 10px;
	border-radius: 10px;
}

canvas{
	background-color: #D6DEEB;
	width: 1000px;
	height: 700px;
	border-radius: 10px;
}
.controls{
	background-color:#00294b;
	width: 500px;
	height: 720px;
	border-radius: 10px;
}

