.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.game-container{
    overflow-x: scroll;
}
.container{
	max-width: fit-content;
}
.field{
	background-color: rgb(0, 0, 118);
	width: 1020px;
	height: 720px;
	padding: 10px;
	border-radius: 10px;
}

canvas{
	background-color: white;
	width: 1000px;
	height: 700px;
	border-radius: 10px;
}
.controls{
	background-color: rgb(0, 0, 118);
	width: 500px;
	height: 720px;
	border-radius: 10px;
}
